	<div class="buttonTag attributeTag tag btn-group">
		<div class="dropdown dropdown-btn btn-group">
			<div class="btn dropdown-toggle qualitySpecifier" data-toggle="dropdown" data-quality="is"><span class='qualityText'>is</span><span class="caret"></span></div>
			<ul class="dropdown-menu" style="z-index:11100">
				<li data-type='is'>
	    			<a href="#" onclick="return false;">is</a>
	    		</li>
	    		<li data-type='not'>
	    			<a href="#" onclick="return false;">not</a>
	    		</li>
	    		<li data-type='less'>
	    			<a href="#" onclick="return false;">less</a>
	    		</li>
	    		<li data-type='more'>
	    			<a href="#" onclick="return false;">more</a>
	    		</li>
	    		{% comment %}
	    		<li data-type='slide'>
	    			<a href="#" onclick="return false;">slider...</a>
	    		</li>	
	    		{% endcomment %}
	  		</ul>
	  	</div>
		<button type="button" class="btn button-disabled attributeTagName" onclick="return false;">attractive</button>
		<button type="button" class="removeTag btn"><i class=" icon-remove"></i></button>
	</div>