{% comment %}
	<div id="errorMessageContainer">
		<div id="errorMessage" class="ui-widget">
			<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
				<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
				<span id="errorMessageContent"></span>
				</p>
			</div>
		</div>
	</div>	
{% endcomment %}

<div id="errorMessageContainer" class="row">
	<div id="errorMessage" class="alert alert-error offset2 span8">
    	<button type="button" class="close" data-dismiss="alert">×</button>
    	<span id="errorMessageContent"><strong>Oh snap!</strong> Change a few things up and try submitting again.</span>
	</div>
</div>