	<div class="resultsRow {% block specialRowClasses%}{% endblock %}">
		<div class="fontID">
			<div class="fontImage">
				<img src="/~libeks/fontQuery/static/fontList/Helvetica.gif">
			</div>
		</div>
		<div class="fontResultsRightPane">
			<div class="fontName">
				{% block fontName %}
				<span class="fontNameP">Helvetica</span>
				{% endblock %}
			</div>
			{% block fontStaticstics %}
				{% block fontScore %}
				{% endblock %}
				{% block attributes %}
					{% block presentAttributes %}
					{% endblock %}
					{% block otherAttributes %}
					{% endblock %}
				{% endblock %}
			{% endblock %}
			{% block hiddenAttribs %}
			{% endblock %}
		</div>
		
		{% block showMore %}
		{% endblock %}
	</div>